build/Keil/output/
build/SO/
src/drivers/bsp/inc/no_use/
src/drivers/bsp/src/not use/
*.h~
*.c#
*.TMP
build/Keil/chargersdk.bin
build/EmBitz/obj/
build/EmBitz/bin/
build/EmBitz/doxygen/html/
*.save
build/EmBitz/cscope.out
build/EmBitz/chargersdk.cscope_file_list
*.depend
